.App {
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background: #0e101c;
  font-family: "Cabin", sans-serif;
  min-height: 507px;
}

form {
  max-width: 500px;
  padding: 15px;
  margin: 5px auto;
}

h1 {
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #4f5b9f;
}

label {
  display: block;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #4f5b9f;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  color: #fefefe;
  text-transform: uppercase;
}
textarea#review {
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.5;
  padding: 10px;
  box-shadow: 1px 1px 1px #999;
  margin-top: 15px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin: 20px auto 15px;
  font-family: "Cabin", sans-serif;
  font-size: 14px;
}

span {
  display: block;
  font-size: smaller;
  color: #a21b4d;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

button[type="submit"] {
  background: #4f5b9f;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  margin-top: 25px;
  padding: 20px;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 10px;
  width: 100%;
}

.redBg {
  background: #ec5990 !important;
}

@media (min-width: 601px) {
  .App {
    max-width: 660px;
    margin: auto;
  }

  form {
    max-width: 600px;
  }
}
